<h1 id= "create-team">Create your team</h1>

  <%= form_for @team, html:{class:'team-sign-up-form'} do |f|%>
        <%= f.label 'Name', class: 'team-sign-up-labels' %><br>
        <%= f.text_field :name, class: 'team-row-columns' %><br>

        <%= f.label 'Location', class: 'team-sign-up-labels' %><br>
        <%= f.text_field :location, class: 'team-row-columns' %><br>

        <%= f.label 'Player ID', class: 'team-sign-up-labels' %><br>
        <%= f.collection_select :player_id, Player.all, :id, :last_name, class: 'collection'%><br>

        <%= f.label 'Player ID', class: 'team-sign-up-labels' %><br>
        <%= f.collection_select :player_id, Player.all, :id, :last_name, class: 'team-row-columns'%><br>


        <%= f.label 'Player ID', class: 'team-sign-up-labels' %><br>
        <%= f.collection_select :player_id, Player.all, :id, :last_name, class: 'team-row-columns'%><br>


        <%= f.label 'Player ID', class: 'team-sign-up-labels' %><br>
        <%= f.collection_select :player_id, Player.all, :id, :last_name, class: 'team-row-columns'%><br>

        <%= f.label 'Player ID', class: 'team-sign-up-labels' %><br>
        <%= f.collection_select :player_id, Player.all, :id, :last_name, class: 'team-row-columns'%><br>

        <%= f.label 'Tournament ID', class: 'team-sign-up-labels'%><br>
        <%= f.collection_select :tournament_id, Tournament.all, :id, :name, class: 'team-row-columns' %><br>

        <%= f.submit "Create Team", class: 'create-team-btn' %>
  <% end %>
