<h1 id= "create-team">Create your team</h1>

<div class= 'team-form'>
  <%= form_for @team do |f|%>
      <div class='team-info'>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>

      <div class='player-draft'>
        <%= f.label :player_id %>
        <%= f.collection_select :player_id, Player.all, :id, :last_name%>

        <%= f.label :player_id %>
        <%= f.collection_select :player_id, Player.all, :id, :last_name%>


        <%= f.label :player_id %>
        <%= f.collection_select :player_id, Player.all, :id, :last_name%>


        <%= f.label :player_id %>
        <%= f.collection_select :player_id, Player.all, :id, :last_name%>

        <%= f.label :player_id %>
        <%= f.collection_select :player_id, Player.all, :id, :last_name%>
      </div>

       <div class='tournament-pick'>
        <%= f.label :tournament_id %>
        <%= f.collection_select :tournament_id, Tournament.all, :id, :name %>
      </div>
  <% end %>
</div>