<h1>Login Page</h1>


<%= form_for :session, url: "/login", html:{class:'login-form'} do |f| %> 

  <%= f.label 'Username', class: 'login-labels' %><br>
  <%= f.text_field :username, class: 'row-columns' %><br>

  <%= f.label 'Password', class: 'login-labels' %><br>
  <%= f.password_field :password, class: 'row-columns' %><br/>

  <%= f.submit "Login", class: 'login-btn' %>

<% end %>

<% if flash[:errors]%>
  <p><%= flash[:errors] %></p>
<% end%>