<!DOCTYPE html>
<html>
  <head>
    <title>BigBallers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'teams', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'tournaments', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if @current_user %>
        Welcome, <%= @current_user.username %>!
        <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Signup", signup_path, class: "item" %>
        <%= link_to "Login", login_path, class: "item" %>
      <% end %>
      <%= yield %>
    
  </body>
</html>
